.header {
    background-color: #053085;
    display: flex;
    padding: 20px ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }