h1 {
    font-size: 60px!important;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 23px;
    color:  rgb(38, 38, 38);
}

.searchbar {
    margin-left: auto;    
    margin-right: auto;
    margin-bottom: 25px;
    display: block;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.az {
    font-size: 16px;
    /* width: 45px; */
    margin: 20px;
    height: 55px;
}

table th {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    background-color: #000000;
    color: white;
    text-align: center;
    line-height: 50px;
}

img {
    border: 2px solid white!important;
}

td {
    font-family: 'Poppins', sans-serif;
    line-height: 70px;
    font-size: 18px;
    color:  white;
}

