.header {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 30px;
    color:  rgb(38, 38, 38);
}

table th {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    background-color: #000000;
    color: white;
    text-align: center;
    line-height: 50px;

}

.img {
    border: 3px solid white;
}

td {
    font-family: 'Poppins', sans-serif;
    line-height: 70px;
    font-size: 18px;
    color:  white;
}

